.sprite_movement {
  height: 50%;
  width: 100%;

  background-color: white;
  border-radius: 8px;

  position: relative;

  background-position: center;
  background-repeat: no-repeat;
}

.sprite_movement {
  button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 9px;
    margin-right: 3px;
    color: white;
    z-index: 2;
  }

  .run {
    background-color: green;
    border-radius: 8px 0 0 0;
  }

  .reset {
    background-color: red;
  }

  .run,
  .reset {
    &:hover {
      opacity: 0.7;
    }
  }
}

.sprite_movement .sprite_container {
  width: 90px;
  height: 90px;

  position: absolute;
  top: 40%;
  left: 45%;

  .msg {
    border: 1px solid #555;
    text-align: center;
    padding: 4px;
    border-radius: 7px;
    margin-bottom: 5px;
    display: none;
    background-color: white;
  }

  .think {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #555;
    float: right;
    display: none;
  }
}
